<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

 <h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<p> 1. python </p>
<p> 2. SQL </p>
<p> 3. R </p>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <p> 1. pandas </p>
    <p> 2. numpy </p>
    <p> 3. plotly </p>
</ol>

### Below are a few examples of evaluating arithmetic expressions in Python.

(3*4)+5
 This a simple arithmetic expression to mutiply then add integers

In [4]:
print(f"output is {(3*4)+5}")

output is 17

Exercise 9 - Create a code cell to convert minutes to hours

this will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives <br>

<h1> Objectives: </h1> <br>

<h3> List popular languages for Data Science </h3> <br>

<ol>
    - SQL <br>
    - Python <br>
    - Java <br>
    - R <br>

</ol>

Exercise 11 - Create a markdown cell to indicate the Author's name

## author name <p>
surapol